/*universal styles*/

html{
	/* font-size: 10px; */
}
body {
	max-width: 1440px;
	/* min-width: 1440px; */
  width: 100%;
  height: 1000px;
  margin: 0 auto;
  background: #CCC;
	overflow-x: hidden!important;
	font-size: 10px;
	font-family: 'windsorregular';
	/* background-color: #3290A3; */
	background-color: rgba(5,32,44,1);
	position: relative;
}
h1{
	font-size: 7rem;
	font-family: "itc avant garde gothic lt";
	color: #000000;
	font-weight: bold;
	text-align: center;
	padding-top: 10%;
	width: 50%;
}
h2{
	font-family: "itc avant garde gothic lt";
	font-weight: bold;

	font-size: 4rem;

}
.rowbox-item-design a{
	background-color:rgba(50,144,163,0);
	border-radius: 2em;
	border: 3px solid #05202c;
	margin: 3em 0;
	padding: 1em;
	width: 50%;
	/* color: #05202c!important; */
	transition: 0.5s ease;
	/* box-shadow: -.3em .3em #05202c; */
}
.rowbox-item-design a:hover{
	background-color: #05202c;
	transition: 0.5s ease;

	/* border: 3px solid white; */
}
.rowbox-item-design a:hover .h4{
	color: white;
}
.rowbox-item-design h4{
	color: #05202c;
	margin: 0 auto;
	transition: 0.5s ease;
}
.rowbox-item-design h4:hover{
	color: rgba(250,250,250,0.8);
	transition: 0.5s ease;
}

nav ul li{
	list-style-type: none;
}
}
.banner{
	width: 100%;
}
@font-face {
    font-family: 'windsorregular';
    src: url('https://geofferdean.github.io/windsor_regular-webfont.woff2') format('woff2'),
         url('https://geofferdean.github.io/windsor_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'itc_avant_garde_gothic_ltbold';
    src: url('https://geofferdean.github.io/gdjportfolio.github.io/resources/itc_avant_garde_gothic_lt_bold-webfont.woff2') format('woff2'),
         url('https://geofferdean.github.io/gdjportfolio.github.io/resources/itc_avant_garde_gothic_lt_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.portrait{
	padding-top: 25.5em;
	/* margin-top: 40em; */
	width: 40%;
	margin: 0 auto;
	/* border: 1px solid red; */
	display: flex;
	align-content: center;
	/* position: fixed; */
}
.portrait img{
	height: 33em;
	/* border: 1px solid red; */
	margin: 0 auto;
	/* position: fixed; */
}
.caseheadline{
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	padding: 3em;
	width: 100%;
}

.spacer{

	height: 10em;
	/* border: 1px solid red; */
	width: 100%;
}
.spacerface{
	margin-top: 18em;
	/* height: 30em; */
	padding: 15em;
	/* border: 1px solid red; */
	width: 100%;
}
.spaceface{
	width: 100%;
	padding: 15em;
	/* border: 1px solid red; */
}
.design-background{
	background-color:rgba(255,255,255,0);
	width:100vw;
	height: 100%;
	margin-bottom: 0;
	z-index:0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.design-background h1{
	color:rgba(250,250,250,0.7);
	padding: 0;
	width: 50%;
	font-size: 7em;
	margin: 0.5em 0 0 0;
}
.logo{
	height: 40em;

}
.fixedlogo{
	width: 100%;
	/* height: 67.5%; */
	position: fixed;
	padding-bottom: 20em;
	z-index: 0;
	/* border: 1px solid red; */
	/* padding: 15em 0 20em 0;  */
}
.fixedlogo img{
	margin: 0 auto;
	/* height: 22em; */
}
.logo_2{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: 0 auto!important;
	height: 34em;
}
.logonav{
	height: 6em!important;
	/* margin-top: 1em; */
	transform: scale(1);
	transition: 0.2s ease;
	/* padding: 1em; */
}
.logonav:hover{
	transform: scale(1.1);
	transition: 0.2s ease;
}
.row{
	width: 100%;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}
.container{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 2em 0;
}
.row-item{
	text-align: center;
	width: 45%;
	margin: 1.5em;
	/* border: 1px solid red; */
}
.row-item h2{
	font-family: 'itc avant garde gothic lt';
	font-size: 7em;
	color: rgba(5,32,44,0.95);
	font-weight: bold;
	margin-bottom: 0.3em;
}
.row-item h3{
	font-family: 'windsorregular';
	font-size: 3.5em;
	color: rgba(250,250,250,0.6);
	font-weight: 400;
	margin-bottom: 0.2em;
}
.row-item h4{
	font-size: 3em;
	color: rgba(43,76,4,0.9);
	margin: 1em 0;
}


.section-headline{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	/* margin-top: 2em; */
	/* border: 1px solid red; */
}
.section-headline h1{
	font-size: 8em;
	font-family: 'itc avant garde gothic lt';
	/* color: rgba(5,32,44,0.95); */
	color: rgba(250,250,250, 0.8);
	font-weight: bold;
	margin-bottom: 0.3em;
	padding: 1em 0 0 0!important;
	width: 100%;

}
.rowbox{
	width: 100%;
	margin: 0 auto;
	background-color: rgba(250,250,250,0.7);
	padding: 3em 0;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	/* border: 1px solid red; */
}
.rowboxleft{
	width: 100%;
	margin: 0 auto;

	padding: 3em;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border-radius: 1em;

}
.wideheadline{
	padding: 0 1em;
}
.rowboxleft-extras{
	width: 100%;
	margin: 0 auto;

	padding: 3em;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border-radius: 1em;

}


.rowboxdesign{
	width: 100%;
	margin: 0 auto;

	padding: 3em;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

}
.rowboxdark{
	width: 100%;
	margin: 0 auto;
	background-color: rgba(31,99,115,0.9);
	padding: 3em 0 3em 6em;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.rowboxdark p{
	font-size: 2em;
	font-weight: bold;
	font-family: "crimson text";
	color: rgba(200,200,200,0.8);
}
.rowboxdark h4, .rowboxdark h3{
	color: rgba(250,250,250,0.7)!important;

}

.processtools{
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}
.processtools h3{
	color:rgba(5,32,44,0.95)!important;
}
.tools{
	width: 50%;
}
.tools ul {
	padding-left: 1.75em;
}



.rowbox-item{
	text-align: center;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	width: 20%;
	/* height: 75%; */
	margin: 0 4em;
	/* border: 1px solid red; */
}
.rowbox-item img{
/* display: flex; */
width: 100%;
margin: auto 0;
}
.rowbox-item p{
	font-family: 'pt sans';
	font-size: 2em;
}

.rowbox-item h4, .extras-left h4, .extras-right h4{
	color: rgba(5,32,44,0.8);
	margin-top: 0.25em;
}
.rowbox-item ul li{
	font-family: 'pt sans';
	font-size: 2em;
}
.roles ul li{
	font-family: 'pt sans';
	font-size: 2em;
	list-style:
}
.extras-left ul li, .extras-right ul li{
	list-style-type: none;
	font-family: 'pt sans';
	font-size: 2.2em;
}
.extras-left ul, .extras-right ul{
	padding: 0;
}
.roles ul{
	padding-left: 1.5em;
}
.rowbox-item ul{
	/* list-style-type: none; */
}

.caret{
	width: 4em;
}


/*nav */

.navbar, nav{
	z-index: 1;
}
.nav-item{
	width: auto;
	height: auto;
	/* padding: 0!important; */
}
nav ul{
	margin: 1em auto ;
	display: flex;
	/* flex-wrap: wrap; */
	padding: 0!important;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}
.navbar{
	/* background-color: rgba(5,32,44,1); */
	height: 5rem;
	margin: 0 auto;
	/* width: 570px; */
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	/* border: 1px solid red; */
	padding: 0!important;
	transition: 0.3s ease-in-out;
}
.navbar
.nav-highlight{
	color: #3BA5BA;
}
nav{
	/* width: 40%; */
	text-align: center;
	height: 4em;
	background-color: rgba(0,0,0,0);
	/* border: 1px solid red; */

}
nav li{
	padding: 20px;

}
nav a{
	/* font-size: 2em; */
	color: rgba(250,250,250,0.7);
	/* height: 3em; */
	/* border: 1px solid red; */
	display: flex;
	align-content: center;
}
.nav-link{
	font-size: 2.5em;
}

.nav-link.active{
	color: #3290A3!important;
	transform: scale(1.17);
	transition: 0.17s;
}
.nav-link.active:hover{
	color: #3290A3!important;
}
.nav-link:hover{
	/* color: #0E4A5D!important; */
	color: #3290A3!important;
	transform: scale(1.1);
	transition: 0.3s;
	/* border: .1rem solid rgba(250,250,250,0.7); */
}
.nav-link{
	transform: scale(1);
	transition: 0.3s;
}
.about:hover{
	color: #F5B62A!important;
	/* transform: scale(1.1);
	transition: 0.1s; */
}
.about.active{
	color: #F5B62A!important;
}
.art.active{
	color: #D54622!important;
}
.art:hover{
	color: #D54622!important;
	transform: scale(1.1);
	transition: 0.1s;
}
.contact.active{
	color: #72bb1e!important;
}
.contact:hover{
	color: #5FA211!important;
}

/*hero*/



.parallax{
	background-image: url('https://geofferdean.github.io/gdjportfolio.github.io/resources/parallaxbackground.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	background-attachment: fixed;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-content: center;
	align-items: center;
}

.gdj{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	width: 100%;
	/* height: 25em; */
	/* margin-top: 49em; */
	padding: 2em 4em;
	text-align: center;
	background-color:#3290A3;
	z-index: 0;
	/* border-radius: 1em; */
	/* background-color: rgba(50,144,163,0.2); */ */
	/* padding: 1rem; */

}
.gdj h1{
	color: rgba(250,250,250,0.6);
	font-size: 3.6rem;
	width: 100%;
	padding-top: 0; */
	margin: 0 auto;
}
.gdj h3{
	font-size: 2rem;
	color: rgba(250,250,250,0.6);
	margin: 0 auto;

}
.mobile{
	display: none;
}

/* design section */


#design{z-index: 1;


}
.parallax_design{
	background-image: url('https://lh3.googleusercontent.com/EngbsQrQA-17aYHtYhX7ht7d4srRePAVmPJD3Fr8T1NrLavHtF5RCVkrK1Pp3CveWgILE7O6wFSO3gQx4knvY9czg9StzK-uOOyh6UYfirxui9g4sjMhDQna8vluNNsME0Kqpwp2YA=w2400');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	z-index: 1;
}

.banner_design{
	display: flex;
	width: 100%;
	background-color:rgba(50,144,163,0.9);
	justify-content: flex-start;
	padding: 3em 0;
}
.rowviz{
	background-color: rgba(250,250,250,0.7);
	display: flex;
	flex-direction: column;
	width: 97%;
	height: 100%;
	margin-bottom: 0.5em;
	border-radius: 1em;
}
.spacer_design{
	width: 100%;
	background-color:rgba(50,144,163,0.9);
	height: 8em;
}

/* about section */

#about{

}
.parallax_about{
	background-image: url('https://lh3.googleusercontent.com/EngbsQrQA-17aYHtYhX7ht7d4srRePAVmPJD3Fr8T1NrLavHtF5RCVkrK1Pp3CveWgILE7O6wFSO3gQx4knvY9czg9StzK-uOOyh6UYfirxui9g4sjMhDQna8vluNNsME0Kqpwp2YA=w2400');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.banner_about{
	display: flex;
	width: 100%;
	background-color: rgba(245, 201, 42, 0.9);
	padding: 3em 0;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	align-content: center;
}
.spacer_about{
	width: 100%;
	background-color: rgba(245, 201, 42, 0.5);
	height: 3.5rem;
}
.rowbox-about{
	width: 100%;
	margin: 0 auto;
	background-color: rgba(250,250,250,0);
	padding: 3em 0;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	/* border: 1px solid red; */
}
.rowbox-item-wide{
	display: flex;
	width: 45%;
	text-align: left;
	padding: 2em;
	flex-direction: column;
	/* border: 1px solid red; */
}
.rowbox-item-tall{
	display: flex;
	width: 35%;
	text-align: left;
	padding: 2em;
	flex-direction: column;
	/* border: 1px solid red; */
}
.rowbox-item-tall img{
	width: 100%;
	border-radius: 1em;
	box-shadow: -1px 1px 5px grey;
}

.rowbox-item-design{
	display: flex;
	width: 65%;
	text-align: left;
	padding: 2em;
	flex-direction: column;
	/* border: 1px solid red; */

}
.rowbox-item-design h2{
	color: rgba(5,32,44,0.9);
	font-size: 6em;

}
.rowbox-item-design h3{
	color: rgba(31,99,115,0.9);
	font-size: 3em;
}
.rowbox-item-design h4{
	color: #05202c;
	font-size: 2.5em;
}
.rowbox-item-design p{
	font-size: 2.25em;
	font-weight: bold;
	font-family: 'pt sans';
}

.rowbox-item-wide p{
	font-family: 'pt sans';
	font-size: 2em;
}
.rowbox-item-wide img{
	width: 100%;
}
.rowbox-item ul{
	padding-left: 1.5em;
}
.roles{
	/* display: flex; */
	flex-direction: column;
	justify-content: center;
	padding: 2em;
	width: 30%;
	margin: 1em;
	/* align-items: center; */
	/* align-content: center; */
}

.brand{
/* border: 1px solid red; */
}
.brand p{
	margin: 0 auto;
	width: 90%;
	text-align: center;
	font-size: 2.5em;
	/* height: 10em; */
	color: rgba(5,32,44,0.95);
	font-weight: 400;
	font-family: "pt sans"
	/* margin: 1em; */
}
.doodles{
	padding: 3em;
	width: 33.25%;
	/* border: 1px solid red; */
}
.doodles img{
	transform: scale(1);
	transition: 0.5s ease;
	/* border: 1px solid red; */
	/* width: 65%; */

}
/* .gcaption{
	transition: 0.5s ease;
  opacity: 1;
  position: absolute;
	width: 100%;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
	border: 1px solid red;

} */
.gcaption {
  display: none;
  text-align: center;
  background: rgba(20, 20, 40, .8);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  font-size: 1.5rem;
}
.guitar:hover .chitar{
	opacity: 0.1;
}

.guitar:hover .gcaption{
	display: block;
}
.text1{
  /* background-color: #4CAF50; */
  color: black;
  font-size: 16px;
  padding: 16px 32px;
	width: 100%;

}
.chitar {
	opacity: 1;
 display: block;
 width: 100%;
 /* height: auto; */
 transition: .5s ease;
 backface-visibility: hidden;

}
.panader:hover{

}
.surfah:hover{


}
.hoverstory{
	display: flex;
	flex-direction: row;
}

/* art section */

#art{


}
.parallax_art{
	background-image: url('https://lh3.googleusercontent.com/EngbsQrQA-17aYHtYhX7ht7d4srRePAVmPJD3Fr8T1NrLavHtF5RCVkrK1Pp3CveWgILE7O6wFSO3gQx4knvY9czg9StzK-uOOyh6UYfirxui9g4sjMhDQna8vluNNsME0Kqpwp2YA=w2400');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.artheadline{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 4em;
}
.artheadline h1{
	font-size: 8em;
	height: 100%;
	color: rgba(250,250,250,0.9);
	padding-top: 0!important;
}
.banner_art{
	display: flex;
	width: 100%;
	background-color: rgba(213, 70, 34, 0.7);
	flex-direction: column;
	align-content: center;
	padding: 3em 0;
	justify-content: center;
	align-items: center;
}
.artgallery{
	width: 97%;
	background: rgba(250,250,250,0.8);
	display: flex;
	align-content: center;
	flex-direction: column;
	justify-content: flex-start;
	border-radius: 1em;
}
.galleryrow{
	width: 100%;
	padding: 3em 2em 0.5em 2em;;
	display: flex;
	/* margin: 1em auto; */
	text-align: center;
	justify-content: flex-end;
	align-items: flex-end;
	align-content: flex-end;
	/* border: 1px solid red; */
}
.captionrow{
	width: 100%;
	padding: 0!important;
	display: flex;
	/* margin: 1em auto; */
	text-align: center;
	justify-content: center;
	align-items: flex-start;
	align-content: flex-start;
	/* border: 1px solid red; */

}
.captionrow h4, .mobilegallery h4{
color: rgba(5,32,44,0.95);
font-size: 2.5em;
/* border: 1px solid red; */
margin-bottom: 0!important;

}
.captionrow p, .mobilegallery p{
	color: rgba(5,32,44,0.95);
	font-size: 2em;
	font-family: "pt sans";
	font-weight: bold;
	/* border: 1px solid red; */

}
.gallery-item{
	/* margin: 1em;
	text-align: center;
	height: 85%;
	width: 100%;
	border: 1px solid red;
	padding: 0!important; */
	width: 75%;
	/* border: 1px solid red; */
	display: flex;
	flex-direction: column;
	align-items: center;

}
.gallery-item p{
	font-size: 1.8em;
}
.gallery-item-tall{
	/* border: 1px solid red; */
	width: 75%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-content: center;
}
.gallery-item-wide{
	/* border: 1px solid red; */
	width: 75%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-content: center;

}
.gallery-item-narrow{
	/* border: 1px solid red; */
	width: 75%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-content: center;

}
.gallery-item-narrow img{
	width: 53%;
}
.gallery-item-wide img{
	width: 95%;
}
.gallery-item-tall img{
	width: 93%;
}
.gallery-item img{
	/* max-width: 85%;
	margin: 1em;
	border: 1px solid red; */
	width: 75%;
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
}
.mobilegallery{
	display: none;

}
.mobilegallery img{
	width: 75%;
}

.spacer_art{
	width: 100%;
	background-color: rgba(213, 70, 34, 0.35);
	height: 7em;
}

/* contact */

#contact{
	background-color: rgba(65,117,5, 0.7);
	padding:5em;
}
.parallax_contact{
	background-image: url('https://lh3.googleusercontent.com/EngbsQrQA-17aYHtYhX7ht7d4srRePAVmPJD3Fr8T1NrLavHtF5RCVkrK1Pp3CveWgILE7O6wFSO3gQx4knvY9czg9StzK-uOOyh6UYfirxui9g4sjMhDQna8vluNNsME0Kqpwp2YA=w2400');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.banner_contact{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 4em;
}
.banner_contact h1{
	color: rgba(250,250,250,0.8);
	text-align: left;
	width: 100%;
	font-size: 2.4rem;
}
.banner_contact h2{
	font-family: 'itc avant garde gothic lt';
	font-size: 6em;
	color: rgba(255,255,255,0.9);
	font-weight: bold;
}
.container-contact{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 2em 0;
}
.row-item-contact{
	width: 50%;
	text-align: center;
	padding: 2em;
}
.row-item-contact img{
	width: 85%;
}
.row-item-contact a{
	color: rgba(250,250,250,0.8);
}
.row-item-contact a:hover{
	color: #F5B62A;
	transition: 0.3s ease;
}
h4{
	color: rgba(250,250,250,0.8);
}
a:hover{
	text-decoration: none!important;
}
.spacer_contact{
	width: 100%;
	background-color: rgba(65,117,5, 0.5);
	height: 3.5rem;
}
p{
  line-height: 1.5;
}

.lnr{
  display: inline-block;
  fill: currentColor;
  width: 1.2em;
  height: 1.2em;
  vertical-align: -0.05em;
	margin-top: .45rem;
}
.lnr-chevron-down-circle{
  color: rgba(250,250,250,0.6);
  font-size: 40px; */
}

.lnr-chevron-down{
	margin: 0 auto 0.2em auto;
	color: rgba(250,250,250,0.6);
	font-size: 3em;
	font-weight: bold;
}
.chevron{
	position: relative;
	margin: 0 auto;
}
.media{
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 3em;
	text-align: center;
	justify-content: center;
	align-items: center;
}
.media h3{
	margin: 0.5em auto;
}
.content{
  position: relative;
  width: 100%;
  /* max-width: 400px; */
  margin: auto;
  overflow: hidden;
	opacity: 1;
}
.mobile-extras{
	width: 100%;
	display: none;
	padding: 2em;
}
.extras-right{
	display: flex;
	align-items: flex-end!important;
	width: 100%;
}
.extras-left{
	display: flex;
	align-items: flex-start!important;
}
.extras-left h3, .extras-right h3{
	font-size: 4em;
}
.extras-left p, .extras-right p{
	font-size: 2.5em;
}

.content-overlay {
  background: rgba(0,0,0,.6);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: 0.75s;
	border-radius: 1em;
	padding: 2em 0;
}

.content:hover .content-overlay{
  opacity: 1;
	transition: 0.75s;
}
.content:hover .content-image {
	opacity: 0.2;
	transition: 0.5s ease;
}

.content-image{
  width: 100%;
	opacity: 1;
	transition: 0.5s ease;
}

.content-details{
	/* display: flex; */
  position: absolute;
  text-align: center;
  padding: 2em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: 0.5s;
	/* border-radius: 1em; */
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
	transition: 0.5s;
}

.content-details h3{
  color: rgba(250,250,250,0.7);
  font-weight: 500;
  /* letter-spacing: 0.15em; */
  margin-bottom: 0.5em;
  /* text-transform: uppercase; */
	font-size: 2.5em;
}

.content-details p{
	/* padding: 2em; */
  color: rgba(250,250,250,0.7);
  font-size: 1.8em;
	font-family: 'pt sans';
	/* font-weight: bold; */
}
.content-details li{
	color: rgba(250,250,250,0.7);
  font-size: 1.6em;
	font-family: 'pt sans';

}
.content-details ul{
	list-style-type: none;
	padding: 0;
}
.content-details h4{
	color: rgba(250,250,250,0.7);
  font-weight: 500;
	font-size: 2em;
	padding-top: 1em;
}

.fadeIn-bottom{
  top: 80%;
}

.fadeIn-top{
  top: 20%;
}

.fadeIn-left{
  left: 20%;
}

.fadeIn-right{
  left: 80%;
}
